<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <style id="global-css-variables"></style>
  <style>
    :root {
      background-color: var(--colorBgLayout);
      clip-path: inset(0 round 8px);
    }
  </style>
</head>
<body>
<div id="root">
  <div
    style="display: flex;justify-content: center;align-items: center;color: #888;">
    Loading...
  </div>
</div>
</body>
</html>
